.chart-horizontal-bars {
  width: 630px;
  margin: 3rem auto;
}

.chart-horizontal-bars .ui-progress {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  cursor: pointer;
}

.chart-horizontal-bars>.ui-progress:first-child::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid #fff;
}

.ui-progress-label {
  position: absolute;
  z-index: 2;
  left: 4px;
  top: 0;
  line-height: 18px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;
}

.ui-progress-label span {
  display: inline-block;
  border-right: 1px solid #fff;
  padding-right: 5px;
}

.ui-progress-bar {
  height: 18px;
  width: 0;
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}

.ui-progress-spacer {
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  z-index: 2;
}

.ui-progress-group .ui-progress-item:first-child .ui-progress-spacer {
  top: 0;
}

.ui-progress-group .ui-progress-item:last-child .ui-progress-spacer {
  bottom: 0;
}

.ui-progress-group {
  border-bottom: 1px solid #fff;
}

.ui-progress-subgroup {
  margin: 5px 0;
  display: none;
  animation: fadeIn .2s ease-in;
}

.ui-progress-index {
  position: absolute;
  top: 0;
  right: -.5em;
  transform: translateX(100%);
  font-size: .75rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ui-progress-subgroup.active {
  display: block;
}

.ui-progress-subgroup .ui-progress-bar {
  height: 4px;
  margin: 5px 0;
}


::ng-deep .ui-popover .popover-inner {
  max-width: 300px;
  color: #000;
  background: #fff;
  font-size: .75rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: left;
}

::ng-deep .ui-popover.popover-top .arrow::before {
  border-top-color: #fff;
}