<div class="chart-horizontal-bars">
  <div class="progress">
    <span class="progress-label">Benchmark - {{chartParams.data[0].benchmark.name}}</span>
    <div class="progress-bar" role="progressbar"
        *ngFor="let value of chartParams.data[0].benchmark.values; let i = index;" 
        [ngStyle]="{'width': value * 100 / chartParams.data[0].benchmark.total + '%', 
        'background-color': chartParams.colors[i]}"></div>
  </div>
  <div class="progress-group" *ngFor="let group of chartParams.data | slice: 1">
    <div class="progress" *ngFor="let answer of group.answers">
      <span class="progress-label">{{group.groupName}} - {{answer.name}}</span>
      <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="value" [attr.aria-valuemax]="chartParams.data[0].benchmark.total"
          *ngFor="let value of answer.values; let i = index"
          [ngStyle]="{'width': value * 100 / chartParams.data[0].benchmark.total + '%',
          'background-color': chartParams.colors[i]}"></div>
    </div>
  </div>
</div>

<!-- <div class="chart-container">
  <div class="chart-header">
    <span class="header-name">Benchmark - {{chartParams.data[0].benchmark.name}}</span>
    <div class="header-range" 
      *ngFor="let value of chartParams.data[0].benchmark.values; let i = index;" 
      [ngStyle]="{
        'width': value * 100 / chartParams.data[0].benchmark.total + '%', 
        'background-color': chartParams.colors[i]}">
    </div>
  </div>
  <div class="chart-group" *ngFor="let group of chartParams.data | slice: 1">
    <div class="chart-item" *ngFor="let answer of group.answers">
      <span class="group-name">
        {{group.groupName}} - {{answer.name}}
      </span>
      <div class="item-range"
        *ngFor="let value of answer.values; let i = index"
        [ngStyle]="{'width': value * 100 / chartParams.data[0].benchmark.total + '%','background-color': chartParams.colors[i]}"></div>
    </div>
  </div>
</div> -->